.container {
	max-width: 1024px;
}

.logo .title, .logo .tagline {
  padding-top: 10px;
  display: inline-block;
}

.logo .tagline {
  padding-left: 15px;
}

.header {
  width: 100%;
  height: 8rem;
  display: block;
  border-bottom: 2px solid #eee;
}

.content, .sidebar {
	padding-top: 10px;
}

.sidebar {
  border-right: 1px solid #eee;
  padding-right: 5px;
}

.sidebar h2 {
	font-size: 2.4rem;
}

/* hacky override; prism adds this weird translucent background that looks awful */
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  background: none !important;
}

/* Media Queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
