
/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html, body, #parang-wrapper {
  height: 100%;
}

body > #parang-wrapper {
  height: auto;
  min-height: 100%;
}

.content {
  overflow: auto;
  padding-bottom: 150px;
} 

.logo .title, .logo .tagline {
  padding-top: 10px;
}

@media (min-width: 400px) {
  .logo .title, .logo .tagline {
    display: block;
    text-align: center;
  }
}

@media (min-width: 550px) {
  .logo .title, .logo .tagline {
    display: inline-block;
  }
  .logo .tagline {
    padding-left: 15px;
  }
}

.logo a {
  text-decoration: none;
  color: #222;
}

.header {
  width: 100%;
  display: block;
  border-bottom: 2px solid #eee;
}

.sidebar, .content {
  padding-top: 20px;
}

.sidebar {
  display: block;
  overflow: hidden;
  text-align: center;
}

@media (min-width: 550px) {
  .sidebar {
    border-right: 1px solid #eee;
    text-align: left;
  }
}

.sidebar .section {
	border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem;
}

@media (min-width: 550px) {
  .sidebar h2 {
    h5 { font-size: 2.4rem; }
  }
}

.footer {
  padding: 35px 20px;
  text-align: center;
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear: both;
}

.edit-page-link {
  margin: 0 auto;
  width: 100px;
  text-align: center;
}

code {
  overflow: scroll;
}

/* Base styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

blockquote {
    background: #1EAEDB;
    color: #fff;
    border-radius: 3px;
    margin: 10px 0 20px;
    padding: 10px 15px;
}

.footer {
  background: #fafafa;
}

.footer p {
  color: #aeaeae;
}

.footer .build-revision {
  font-size: 1rem;
}